@media screen and (min-width: 768px) {
    
   body {
      width: 750px;
   }

   main {
      background-color: orange;
  }

   header .logo{
    text-align: left;
    padding-left: 10px;
   }

   /* SUBCONTAINER W/IMAGE  */

   main .traditional {
      display: inline;
  }

  main .info-recipe ul {
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px;
}

main .info-recipe ul li {
   width: calc((100% - 60px) / 3);
}

/* social logos  */

main .social li {
   width: calc((100% - 100px) / 5);
   text-align: center;
}

/* BANNER  */

main .banner {
   display: block;
   margin-bottom: 50px;
}

.recipe img {
   width: 40%;
   padding-bottom: 10px;
   padding-right: 20px;
   float: left;
}


}

